altgraph==0.17
arcade==2.6.17
asgiref==3.4.1
attrs==21.2.0
auto-py-to-exe==2.10.0
beautifulsoup4==4.9.3
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.0.1
colorama==0.4.4
config==0.5.1
contourpy==1.0.7
cycler==0.11.0
Django==4.0.10
docutils==0.19
Eel==0.12.4
Flask==2.0.1
fonttools==4.38.0
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.1
idna==3.4
instagramthiefBot==1.2
itsdangerous==2.0.1
Jinja2==3.0.1
Kivy==2.1.0
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.5
kiwisolver==1.4.4
MarkupSafe==2.0.1
matplotlib==3.6.3
numpy==1.20.1
packaging==23.0
pefile==2021.5.24
Pillow==9.3.0
psycopg2==2.9.1
py3minepi==0.0.1.1
pycparser==2.20
pygame==2.0.1
pyglet==2.0.dev23
Pygments==2.14.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pymunk==6.4.0
pyparsing==3.0.9
pypiwin32==223
pyTelegramBotAPI==4.14.0
python-dateutil==2.8.2
pytiled-parser==2.2.0
pywin32==305
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.28.2
selenium==3.141.0
Shapely==1.7.1
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.2
typing-extensions==3.10.0.2
tzdata==2021.5
urllib3==1.26.6
Werkzeug==2.0.1
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
